body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Comforter', cursive;}
  
  h1 {
    color: #D45F5F;    ;
    font-size: 6rem;
    margin: 50px auto; 
    font-family: 'Love Light', cursive;
 }
  
  h2 {
    color: #D45F5F;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 3rem;
    font-weight: normal;
    padding-bottom: 10px;
  }