#title {
    background-color: #ff3c68;
 }

 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    Line-Height: 1.5;
    color:white;
    margin-left: 90px;
 }
 #body {
    font-family: 'Montserrat', sans-serif;
    color:#fff;
 }
 .navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    color:#fff;
    margin-left: 15px;
    margin-top: 15px;

 }
 .navbar-nav {
    padding-bottom:4.5rem;
 }
 .nav-item {
    padding-bottom:18px;

 }

 .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color:white;
 }


 .download-button {
    margin-top: 5%;
    margin-right: 3%;
    margin-left: 5%;
    margin-bottom: 0%;
 }
.img {
    transform: rotate(15deg);

}

#testimonials {
    text-align:center;
    background-color: #ef8172;
    color:#fff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 40%;
    margin: 20px;
    padding: 7% 15%;
    border-radius: 50%;
}
#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;

}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#cta {
   background-color: #ff3c68;
   height: 200px;
   text-align: center;
}


h3 {
   font-family: 'Montserrat', sans-serif;
   font-size: 3rem;
   line-height: 1.5;
   text-align: center;
}
